@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

* {
  margin: 0px;
}

body {
  box-sizing: border-box;
}

.root-container {
  background-image: url("https://www.popsci.com/uploads/2023/07/06/Annapurna-Himalaya-mountain.jpg?auto=webp");
  height: 100vh;
  padding: 20px;
}

.nav-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.nav-elements {
  margin-right: 8px;
}

.logo {
  font-family: "Bree Serif";
  font-size: 50px;
  font-weight: bold;
  color: aquamarine;
}

span {
  color: greenyellow;
}

.nav-elements-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.btn {
  background-color: transparent;
  border: 1px dashed #ffffff;
  font-family: "Roboto";
  font-size: 15px;
  padding: 10px;
  border-radius: 7px;
  color: white;
  height: 60px;
  width: 60px;
}

.flag-image {
  height: 20px;
  border-radius: 3px;
}

.btn2 {
  background-color: transparent;
  border: 1px dashed #ffffff;
  font-family: "Roboto";
  font-size: 16px;
  padding: 10px;
  border-radius: 7px;
  color: white;
  height: 60px;
  width: 140px;
  padding-bottom: 15px;
  font-weight: bold;
}

.btn-span {
  color: #ffffff;
  font-weight: normal;
}

.membership-container {
  background-image: linear-gradient(to right, darkblue, blue);
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 230px;
  height: 60px;
  border-radius: 7px;
}

.diamond-img-container {
  background-color: #ffffff;
  color: blue;
  border-radius: 70px;
  font-size: 22px;
  padding: 8px;
  margin: 12px;
}

.dropdown-menu {
  background-color: transparent;
  color: #ffffff;
  border: 0;
  outline: none;
  font-size: 18px;
  font-family: "Roboto";
  margin-left: 20px;
}

.bookings-container {
  background-color: transparent;
  border: 1px dashed white;
  height: 60px;
  width: 230px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 7px;
}

.booking-img {
  font-size: 22px;
  color: #ffffff;
  margin: 12px;
}

.tag-line {
  font-size: 12px;
  color: #ffffff;
  font-family: "Roboto";
  margin-left: 20px;
}

.account-container {
  background-color: transparent;
  border: 1px dashed white;
  height: 60px;
  width: 230px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 7px;
}

.profile-img {
  font-size: 22px;
  color: #ffffff;
  margin: 12px;
}

.main-heading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3%;
  margin-bottom: 2%;
}

.main-heading {
  color: #ffffff;
  font-weight: bold;
  font-family: "Bree Serif";
  font-size: 45px;
}

.heading2 {
  color: #ffffff;
  font-family: "Bree Serif";
  font-size: 35px;
}

.features-outer-container {
  display: flex;
  justify-content: center;
}

.features-inner-container {
  background-color: #ffffff;
  background-size: cover;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 80%;
  border-radius: 40px;
  height: 50px;
}

.features-container {
  background-color: lightblue;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 30px;
  padding: 5px;
  border-radius: 20px;
  margin-right: 1%;
  margin-left: 1%;
}

.feature-image {
  color: blue;
  font-size: 19px;
  margin-right: 16px;
}

.feature-name {
  color: blue;
  font-family: "Roboto";
  font-size: 18px;
}

.feature-selected {
  background-color: blue;
}

.feature-selected-img {
  color: #ffffff;
}

.feature-selected-name {
  color: #ffffff;
}

.selected-feature-result-container {
  background-image: linear-gradient(to bottom, blue, darkblue);
  background-size: cover;
  padding: 20px;
  border-radius: 12px;
}

.container {
  background-color: transparent;
  border: 1px solid #ffffff;
  padding: 5px;
  width: 23%;
  border-radius: 12px;
}

.dest {
  color: #ffffff;
  font-family: "Roboto";
  font-size: 15px;
  margin-left: 12px;
}

.destination {
  color: #ffffff;
  font-family: "Roboto";
  font-size: 20px;
  font-weight: bold;
  margin-left: 12px;
}

.hotel-details-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.type {
  color: #ffffff;
  font-family: "Roboto";
  font-size: 15px;
}

.when {
  color: #ffffff;
  font-family: "Roboto";
  font-size: 20px;
}

.moon-img {
  font-size: 18px;
  color: #ffffff;
  margin-left: 14px;
}

.nights {
  font-size: 15px;
  color: #ffffff;
  font-family: "Roboto";
}

.hotel-dropdown-menu {
  background-color: transparent;
  color: #ffffff;
  font-weight: bold;
  border: 0;
  outline: none;
  font-size: 18px;
  font-family: "Roboto";
  margin-left: 12px;
}

.spacings {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 3%;
}

.search-btn {
  height: 50px;
  width: 60px;
  background-color: #ffffff;
  outline: none;
  cursor: pointer;
  border: 0;
  border-radius: 12px;
}

.search-image {
  font-size: 25px;
}

.rating-desc {
  color: #ffffff;
  font-family: "Roboto";
  font-size: 16px;
  margin-top: 12px;
}

.rating-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 3%;
  margin-top: 1%;
}

.star-container {
  background-color: lightblue;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 40px;
  justify-content: center;
  border-radius: 7px;
  padding: 2px;
  margin-left: 12px;
  margin-top: 12px;
}

.rating {
  color: blue;
  font-family: "Roboto";
  font-size: 15px;
}

.star-img {
  font-size: 15px;
  color: blue;
}

.checkbox-div {
  margin-left: 3%;
  margin-top: 1%;
  margin-bottom: 1%;
}

input {
  outline: none;
}

.label {
  color: #ffffff;
  font-family: "Roboto";
  font-size: 15px;
}

.specials-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

.number {
  color: black;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 60px;
}

.specials {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 10px;
  margin-left: 12px;
  border-right: 5px solid black;
}

.desc {
  font-family: "Roboto";
  font-weight: bold;
  color: blac;
  font-size: 25px;
}

.space {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.special-desc {
  font-family: "Roboto";
  font-weight: bold;
  color: black;
  font-size: 20px;
}

.play-img {
  color: black;
  font-size: 35px;
  margin-right: 12px;
}

.gplay {
  color: black;
  font-size: 20px;
  font-family: "Roboto";
  font-weight: bold;
}

hr {
  margin-left: 8%;
  border: 2px solid black;
  width: 80%;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 12px;
}

.footer-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 2%;
}

.footer-desc {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
}

.footer-tag {
  font-family: "Roboto";
  font-size: 15px;
  color: #ffffff;
}

.footer-img {
  font-size: 18px;
  font-size: 22px;
  color: #ffffff;
  margin-right: 12px;
}

.save-section {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.plant-image {
  font-size: 35px;
  color: #ffffff;
}

.desc2 {
  font-family: "Roboto";
  color: #ffffff;
  font-size: 28px;
}

.last-desc {
  font-family: "Roboto";
  font-size: 15px;
  color: #ffffff;
}
